@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: auto;
}

ul li {
  list-style: none;
}

.sub-background {
  background-image: url(../images/sub-background.jpg);
  background-size: cover;
  height: 200px;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.sub-background h2 {
  color: #222;
  font-size: 40px;
}

.sub-background p {
  color: #666;
  font-size: 18px;
  margin-top: 10px;
}

.sub-background p a {
  color: #478C5C;
}

.sub-background p a:hover {
  color: #98c29f;
}

.sub-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 233, 212, 0.7);
}

.sub-background .page-details {
  position: relative;
  z-index: 4;
}

/* start header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

header .brand svg {
  margin-right: 15px;
  font-size: 25px;
  color: #478C5C;
}

header .brand a {
  color: #666;
  font-weight: bold;
}

header nav a:not(:last-child) {
  margin-right: 15px;
}

header nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 5;
  -webkit-animation: fadeLeft .4s linear .4s backwards;
          animation: fadeLeft .4s linear .4s backwards;
}

header nav a {
  color: #666;
}

header nav a:hover {
  color: #98c29f;
}

header .icons div {
  display: inline-block;
  color: #666;
  font-size: 20px;
  cursor: pointer;
}

header .icons div:hover {
  color: #98c29f;
}

header .icons div:not(:last-child) {
  margin-right: 15px;
}

header .icons #menu-btn {
  display: none;
}

header .search-form {
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  position: absolute;
  top: -100%;
  right: 5%;
  z-index: 5;
  background-color: #fff;
}

header .search-form.active {
  top: 70px;
  -webkit-animation: fadeUp .4s linear .4s backwards;
          animation: fadeUp .4s linear .4s backwards;
}

header .search-form input {
  width: 100%;
  padding: 5px;
}

header .search-form svg {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

header .search-form svg:hover {
  color: #98c29f;
}

header .login-form {
  position: absolute;
  top: 70px;
  right: -100%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 5;
}

header .login-form.active {
  right: 5%;
  -webkit-animation: fadeRight .4s linear .4s backwards;
          animation: fadeRight .4s linear .4s backwards;
}

header .login-form h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .login-form input:not(:last-of-type) {
  width: 100%;
  border: 1px solid #478C5C;
  padding: 5px 10px;
  margin-top: 10px;
}

header .login-form input[type="submit"] {
  width: 100%;
  background-color: #478C5C;
  padding: 5px 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

header .login-form input[type="submit"]:hover {
  background-color: #fff;
  color: #478C5C;
  border: 1px solid #478C5C;
}

header .login-form input[type="checkbox"] {
  margin: 10px 10px 10px 0;
}

header .login-form label {
  color: #666;
  cursor: pointer;
}

header .login-form p:not(:last-child) {
  margin-top: 10px;
}

header .login-form p {
  font-size: 14px;
  color: #666;
}

header .login-form p a {
  color: #478C5C;
  font-weight: bold;
}

header .login-form p a:hover {
  color: #98c29f;
}

/* end header */
/* start footer */
footer {
  background-color: #f3ebde;
  padding: 30px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container .footer-item {
  width: 22%;
  overflow: hidden;
  margin-top: 15px;
}

footer .container .footer-item ul li {
  margin-top: 10px;
}

footer .container .footer-item ul li:hover a {
  margin-left: 20px;
}

footer .container .footer-item ul li svg {
  color: #478C5C;
}

footer .container .footer-item ul li a {
  color: #666;
  margin-left: 5px;
}

footer .container .footer-item:last-child {
  width: 30%;
}

footer .container .footer-item:last-child h5 {
  color: #666;
  margin: 15px 0;
}

footer .container .footer-item:last-child input[type="email"] {
  width: 100%;
  border: 1px solid #478C5C;
  padding: 5px 10px;
}

footer .container .footer-item:last-child input[type="submit"] {
  background-color: #478C5C;
  padding: 5px 10px;
  border: 1px solid #478C5C;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 15px 0;
}

footer .container .footer-item:last-child input[type="submit"]:hover {
  background-color: #fff;
  color: #478C5C;
}

footer .container .footer-item:last-child .pay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .footer-item:last-child .pay ul li {
  margin-right: 20px;
}

footer .container .footer-item:last-child .pay ul li svg {
  font-size: 30px;
  color: #98c29f !important;
  cursor: pointer;
}

/* end footer */
/* start home */
.home {
  background-image: url(../images/background.jpg);
  background-size: cover;
  height: calc(100vh - 77px);
  width: 100vw;
  position: relative;
  padding: 20px 0;
}

.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 233, 212, 0.7);
  z-index: 2;
}

.home #prev, .home #next {
  position: absolute;
  top: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #478C5C;
  font-weight: bold;
  font-size: 20px;
}

.home #prev:hover, .home #next:hover {
  background-color: #478C5C;
  color: #fff;
}

.home #prev {
  left: 2%;
}

.home #next {
  right: 2%;
}

.home .slides-container {
  position: relative;
  z-index: 3;
}

.home .slides-container .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 97px);
}

.home .slides-container .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slides-container .slide .slide-content span {
  color: #666;
  font-size: 20px;
}

.home .slides-container .slide .slide-content h3 {
  color: #222;
  font-size: 40px;
  margin-top: 5px;
}

.home .slides-container .slide .slide-content button {
  background-color: #478C5C;
  padding: 10px 20px;
  border: 1px solid #478C5C;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.home .slides-container .slide .slide-content button:hover {
  background-color: #fff;
  color: #478C5C;
}

.home .slides-container .slide .slide-image {
  -webkit-animation: fadeUp .4s linear .4s backwards;
          animation: fadeUp .4s linear .4s backwards;
  height: 300px;
}

.home .slides-container .slide .slide-image img {
  max-height: 100%;
}

.sales {
  margin: 50px 0;
}

.sales .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sales .sales-item {
  width: 32%;
  background-color: #e9fced;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 250px;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
}

.sales .sales-item:hover .sales-image {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.sales .sales-item .sales-details span {
  color: #666;
}

.sales .sales-item .sales-details h3 {
  color: #222;
  font-size: 22px;
  margin-top: 5px;
}

.sales .sales-item .sales-details button {
  background-color: #478C5C;
  padding: 5px 10px;
  border: 1px solid #478C5C;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.sales .sales-item .sales-details button:hover {
  background-color: #fff;
  color: #478C5C;
}

.sales .sales-item .sales-image {
  width: 50%;
}

.sales .sales-item .sales-image img {
  width: 100%;
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@-webkit-keyframes fadeRight {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
}

@keyframes fadeRight {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

/* end home */
/* start shop */
.cat-head {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: #666;
}

.cat-head::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e4e0e0;
  left: 0;
  bottom: -5px;
}

.cat-head h3 {
  color: #478C5C;
  font-size: 20px;
}

.cat-head a {
  color: #666;
}

.cat-head a:hover {
  color: #478C5C;
}

.shop .cat-products {
  margin: 70px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.shop .cat-products .item {
  width: 19%;
}

.shop .cat-products .item img {
  max-width: 100%;
}

.shop .cat-products .item h4 {
  color: #666;
}

.shop .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

.shop .products .product-item {
  width: 24%;
  background-color: #e9fced;
  padding: 50px 10px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.shop .products .product-item:hover .product-overlay {
  top: 0;
}

.shop .products .product-item img {
  max-width: 100%;
  height: 100px;
}

.shop .products .product-item h3 {
  color: #222;
  margin-top: 20px;
}

.shop .products .product-item p {
  color: #666;
}

.shop .products .product-item .stars {
  color: #eaa936;
}

.shop .products .product-item .product-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.shop .products .product-item .product-overlay svg {
  margin-right: 20px;
  color: #478C5C;
  font-size: 30px;
}

.shop .products .product-item .product-overlay svg:hover {
  color: #98c29f;
}

/* end shop */
/* start about */
.about .ab {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .ab .about-img {
  width: 45%;
  text-align: center;
}

.about .ab .about-img img {
  max-width: 100%;
  height: 250px;
}

.about .ab .about-details {
  width: 45%;
}

.about .ab .about-details p:first-child {
  color: #478C5C;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}

.about .ab .about-details p {
  color: #666;
  margin-bottom: 10px;
  font-size: 14px;
}

.about .ab .about-details h3 {
  color: #222;
  font-weight: bold;
  margin-bottom: 20px;
}

.about .ab .about-details button {
  padding: 10px 20px;
  background-color: #478C5C;
  border: 1px solid #478C5C;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.about .ab .about-details button:hover {
  color: #478C5C;
  background-color: #fff;
}

.about .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

.about .gallery .image {
  width: 32%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.about .gallery .image:hover .gall-overlay {
  bottom: 0;
}

.about .gallery .image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about .gallery .image img {
  max-width: 100%;
}

.about .gallery .image .gall-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.about .gallery .image .gall-overlay svg {
  color: #478C5C;
  font-size: 20px;
  margin-left: 10px;
}

.about .gallery .image .gall-overlay svg:hover {
  color: #98c29f;
}

/* end about */
/* start review */
.review .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.review .features .feature-item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.review .features .feature-item .feature-icon {
  width: 70px;
  height: 70px;
  background-color: #98c29f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.review .features .feature-item .feature-icon svg {
  color: #fff;
  font-size: 30px;
}

.review .features .feature-item h3 {
  color: #222;
  font-weight: bold;
}

.review .features .feature-item p {
  color: #666;
}

.review .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

.review .clients .client {
  width: 32%;
  border: 1px solid #bed3c1;
  padding: 20px;
  margin-top: 10px;
}

.review .clients .client .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review .clients .client .image img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.review .clients .client .image h4 {
  color: #222;
  font-size: 20px;
}

.review .clients .client .image h4 span {
  color: #478C5C;
  font-size: 12px;
  display: block;
}

.review .clients .client p {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}

/* end review */
/* start blog */
.blog .blogs {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .blogs .blog-item {
  width: 32%;
  border: 1px solid #bed3c1;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

.blog .blogs .blog-item:hover .blog-image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog .blogs .blog-item .blog-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.blog .blogs .blog-item .blog-image img {
  width: 100%;
  height: 100%;
}

.blog .blogs .blog-item .blog-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  position: relative;
}

.blog .blogs .blog-item .blog-data div svg {
  color: #98c29f;
  margin-right: 10px;
}

.blog .blogs .blog-item .blog-data div span {
  color: #666;
}

.blog .blogs .blog-item .blog-data::after {
  content: "";
  width: calc(100% - 20px);
  height: 1px;
  position: absolute;
  background-color: #cee4d1;
  bottom: 0;
  left: 10px;
}

.blog .blogs .blog-item .blog-details {
  padding: 0 10px;
  margin-top: 20px;
}

.blog .blogs .blog-item .blog-details h3 {
  color: #222;
  font-weight: bold;
}

.blog .blogs .blog-item .blog-details p {
  color: #666;
}

.blog .blogs .blog-item .blog-details button {
  padding: 10px 20px;
  background-color: #478C5C;
  color: #fff;
  border: 1px solid #478C5C;
  margin: 10px 0 20px 0;
  cursor: pointer;
}

.blog .blogs .blog-item .blog-details button:hover {
  background-color: #fff;
  color: #478C5C;
}

/* end blog */
/* start contact */
.contact .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
}

.contact .contact-details .item {
  border: 1px solid #bed3c1;
  width: 32%;
  padding: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.contact .contact-details .item:hover .icon {
  background-color: #fff;
  color: #98c29f;
}

.contact .contact-details .item .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #98c29f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border: 1px solid #98c29f;
  color: #fff;
}

.contact .contact-details .item .icon svg {
  font-size: 25px;
}

.contact .contact-details .item h3 {
  color: #222;
  margin-top: 20px;
}

.contact .contact-details .item p {
  color: #666;
}

.contact .contact-details .contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact-details .contact-body form {
  width: 49%;
  border: 1px solid #bed3c1;
  padding: 20px;
}

.contact .contact-details .contact-body form h3 {
  color: #478C5C;
}

.contact .contact-details .contact-body form input {
  width: 50%;
}

/* end contact */
/* responsive */
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block !important;
  }
  .navbar {
    display: none !important;
  }
  .navbar.active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    top: 50px;
    left: 0;
    -webkit-animation: fadeLeft .4s linear .4s backwards;
            animation: fadeLeft .4s linear .4s backwards;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .login-form {
    width: 90vw !important;
    margin: auto;
  }
  .search-form {
    width: 90vw !important;
    margin: auto;
  }
  .home {
    padding: 30px 0;
    text-align: center;
  }
  .home .slides-container .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: calc(100vh - 130px);
  }
  .home .slides-container .slide .slide-image {
    height: 200px;
  }
  footer .footer-item {
    width: 40% !important;
  }
  footer .footer-item:last-child {
    width: 60% !important;
  }
  .sales .container {
    text-align: center;
  }
  .sales .sales-item {
    width: 100%;
    height: unset;
  }
  .sales .sales-item .sales-details {
    margin-bottom: 25px;
  }
  .sales .sales-item .sales-image {
    width: 70%;
  }
  .shop .cat-products .item {
    width: 40%;
    margin-top: 20px;
  }
  .shop .products .product-item {
    width: 49%;
  }
  .about .ab .about-img,
  .about .ab .about-details {
    width: 100%;
    text-align: center;
  }
  .gallery .image {
    width: 49% !important;
  }
  .review .features .feature-item {
    width: 49%;
  }
  .review .clients .client {
    width: 49%;
  }
  .blog .blogs .blog-item {
    width: 49%;
  }
  .blog .blogs .blog-item .blog-image {
    height: 160px;
  }
  .contact .contact-details .item {
    width: 49%;
  }
}

@media (max-width: 450px) {
  .home .slides-container .slide {
    height: calc(100vh - 130px);
  }
  .home .slides-container .slide .slide-content h3 {
    font-size: 25px;
  }
  .home .slides-container .slide .slide-content span {
    font-size: 15px;
  }
  .home .slides-container .slide .slide-image {
    height: 150px;
  }
  footer .footer-item {
    width: 100% !important;
  }
  footer .footer-item:last-child {
    width: 100% !important;
  }
  .shop .products .item {
    width: 100%;
    margin-top: 20px;
  }
  .shop .products .product-item {
    width: 100%;
  }
  .gallery .image {
    width: 100% !important;
  }
  .review .features .feature-item {
    width: 100%;
  }
  .review .clients .client {
    width: 100%;
  }
  .blog .blogs .blog-item {
    width: 100%;
  }
  .blog .blogs .blog-item .blog-image {
    height: 200px;
  }
  .contact .contact-details .item {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */